<br>
<a randomColor id="suggestRoom" style="margin-left: 80%" onclick="document.documentElement.scrollTop = 0; document.body.scrollTop = 0;"
    [routerLink]="['', 'room-suggestion']"><b>Rooms you should like</b></a>
<div class="container">
    <h1 class="title">Introduction</h1>
    <div introDirective class="row">
        <div class="col-sm-4">
            <p>{{hotelIntro}}.</p>
        </div>
        <div class="col-sm-4">
            <p>{{roomIntro}}.</p>
        </div>
        <div class="col-sm-4">
            <p>{{restaurantIntro}}.</p>
        </div>
    </div>
    <div class="spacer">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="//player.vimeo.com/video/55057393?title=0" width="100%" height="400"
                frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
    </div>
</div>