<!--/.footer--> 
<div class="footer">
        <div class="container">
            <div class="row">
                <div class="info-footer">
                    <h4>Marina Meepo</h4>
                    <p>Marina Meepo is the best hotel in VietNam with the best facilities and amenity. Come with us, you will have the best holiday in VietNam and enjoy Luxurious rooms, restaurant. Our goal is make you feel relax, comfortable and convenient after stressful working day with the best price of rooms and services. </p>
                </div> 
            </div>
            <!--/.row--> 
        </div>
        <!--/.container-->    
    <!--/.footer-bottom--> 
</div>
<div class="text-center copyright">Copyright © <a href="#">Hotel Booking & Reservations, 2017</a></div>
<!--/.footer-->
</body>
</html>