<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>
		<%= title %>
	</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
	<script language="JavaScript" type="text/javascript" src="javascripts/my-jquery.js"></script>
	<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
	<script src="alert/sweetalert-dev.js"></script>
	<link rel="stylesheet" href="alert/sweetalert.css">
</head>
<body>
	<!-- header -->
	<nav class="navbar  navbar-default" role="navigation">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<a class="navbar-brand"><img src="images/hotel-logo.png" alt="Marina Meepo"></a>
			</div>
		</div>
		<!-- container-fluid -->
	</nav>
	<!-- /header -->