<link href="bootstrap.css" rel="stylesheet" type="text/css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body ng-app="myApp" ng-controller="myCtrl">
<br>
<div class="row">
<div class="col-lg-12">
	<div class="col-lg-5">
		<div ng-repeat="x in list_api_GET">
			<p ng-if="indexSelected==$index" style="color:white;background:red;cursor:pointer" id="api{{$index}}" ng-click="highlightLink($index)">{{serverAPI}}{{x.api}}</p>
			<p ng-if="indexSelected!=$index" style="cursor:pointer" id="api{{$index}}" ng-click="highlightLink($index, x.api, x.example)">{{serverAPI}}{{x.api}}</p>
		</div>
	</div>
	<div class="col-lg-7">
		<iframe ng-src="{{frameSRC | trustAsResourceUrl}}" height="400" width="660"></iframe>
	</div>
	<br><a href="http://jsoneditoronline.org/" target="_blank">Copy JSON to this link</a>
	<p id="with-param" style="color:red"><p>
	<p id="example" style="color:green"><p>
	<input type="text" id="input" value="{{apiURL}}" size="90">
	<button ng-click="getAPI()">GET API</button>
</div>
</div>
</body>
<script>

//local
//const MEAN_SERVER_URL = "http://localhost:3000/";

//online
const MEAN_SERVER_URL = "https://hotel-booking-and-reservations.herokuapp.com/";

const API_URL = MEAN_SERVER_URL + "api/"


var list_api_GET = [
{"api" : 'activity/'},
{"api" : 'activity/username/:username', "example" : 'activity/username/cuongvip121995@gmail.com'},
{"api" : 'activity/response/not-yet'},
{"api" : 'activity/seen-notification/:id', "example" : 'activity/seen-notification/5a4130a4006aa026d4f26647'},
{"api" : 'activity/reply-notification/:id', "example" : 'activity/reply-notification/5a4130a4006aa026d4f26647'},

{"api" : 'follow-users/'},
{"api" : 'follow-users/page/:page', "example" : 'follow-users/page/1'},
{"api" : 'follow-users/count/page'},
{"api" : 'follow-users/sort/:field_name', "example" : 'follow-users/sort/country'},
{"api" : 'follow-users/:fieldname/:sort/:page', "example" : 'follow-users/username/asc/1'},
{"api" : 'follow-users/search/all/:fieldname/:keyword/:sort/:page', "example" : 'follow-users/search/all/username/do7/des/1'},
{"api" : 'follow-users/search/total-page/:fieldname/:keyword', "example" : 'follow-users/search/total-page/username/do7'},
{"api" : 'follow-users/userIP/:userIP', "example" : 'follow-users/userIP/192.168.0.102'},
{"api" : 'follow-users/externalIP/:externalIP', "example" : 'follow-users/externalIP/171.250.79.163'},
{"api" : 'follow-users/statistics/ExternalIP'},
{"api" : 'follow-users/statistics/UserIP'},
{"api" : 'follow-users/statistics/Username'},
{"api" : 'follow-users/statistics/PageAccess'},
{"api" : 'follow-users/statistics/PageAccess/userIP/:userIP', "example" : 'follow-users/statistics/PageAccess/userIP/192.168.0.102'},
{"api" : 'follow-users/country/chart-data'},
{"api" : 'follow-users/rooms/suggest-room'},


{"api" : 'users/'},


{"api" : 'activity/:id', "example" : 'activity/5a4130a4006aa026d4f26647'},
{"api" : 'activity/feedback-room/:id', "example" : 'activity/feedback-room/102'},
{"api" : 'follow-users/:id', "example" : 'follow-users/5a45215dc3b4d515e4e8067d'},
{"api" : 'users/:id', "example" : 'users/5a267446b7c4db242c6fa8d9'},


{"api" : 'follow-users/statistics/PageAccess/username/:username', "example" : 'follow-users/statistics/PageAccess/username/cuongvip121995@gmail.com'},
{"api" : 'users/username/:username', "example" : 'users/username/cuongvip121995@gmail.com'},
];

var app = angular.module("myApp", []);
app.controller("myCtrl", function($scope) {
  $scope.serverAPI = API_URL;
  $scope.indexSelected = null;
  $scope.apiURL = null;
  $scope.list_api_GET = list_api_GET;
  $scope.highlightLink = function(index, apiURL, example) {
		$scope.indexSelected = index;
		$scope.apiURL = API_URL + apiURL;
		document.getElementById('input').value = $scope.apiURL;
		if(apiURL.includes(':')) {
			document.getElementById('with-param').innerHTML = 'Please input params (refer API below)';
			var example_url = API_URL + example;
			document.getElementById('example').innerHTML = example_url;
			$scope.frameSRC = example_url;
		}
		else {
			document.getElementById('with-param').innerHTML = '';
			document.getElementById('example').innerHTML = '';
			$scope.frameSRC = $scope.apiURL;
		}
  }
  
  $scope.getAPI = function() {
	 $scope.apiURL = $scope.frameSRC = document.getElementById('input').value;
  }
});

app.filter('trustAsResourceUrl', ['$sce', function($sce) {
    return function(val) {
        return $sce.trustAsResourceUrl(val);
    };
}])

</script>