<div class="login-header" *ngIf="auth.authenticated == true">
  <div class="account-logout">
    <button [routerLink]="['', 'profile']" style="margin-top: 5px" class="button5">Hello, {{data.user.username}}</button>
    <button class="button5" (click)="logout()">Log out</button>
  </div>
</div>
<nav class="navbar  navbar-default" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand"><img src="images/hotel-logo.png" alt="Marina Meepo"></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['', 'home']">Home </a></li>
        <li *ngIf="auth.authenticated == true"><a [routerLink]="['', 'profile']">Profile </a></li>
        <li><a [routerLink]="['', 'rooms-tariff']">Rooms & Tariff</a></li>
        <li><a [routerLink]="['', 'restaurant']">Restaurant</a></li>
        <li><a [routerLink]="['', 'introduction']">Introduction</a></li>
        <li><a [routerLink]="['', 'gallery']">Gallery</a></li>
        <li><a [routerLink]="['', 'contact']">Contact</a></li>
        <li *ngIf="auth.authenticated == true"><a [routerLink]="['', 'feedback']">Feedback </a></li>
        <li class="tr-p" *ngIf="auth.authenticated == false"><a (click)="login()">Login </a></li>
      </ul>
    </div>
    <!-- Wnavbar-collapse -->
  </div>
  <!-- container-fluid -->
</nav>
<!-- header -->