/* Credit to bootsnipp.com for the css for the color graph */
.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

h2 {
  color: #bfa145;
}

h3 {
  color: #669ae1;
}

.navbar {
  background-color: #FFF8DC;
}

.navbar-header {
  height: 100px;
}

.footer {
  margin-top: 43px;
  background-color: #FFFACD;
}

.h4 {
  font-weight: bold;
  color: #1C1C1C;
}

.copyright {
  background-color: #363636;
  color: white;
}

/* desktop */
@media only screen and (min-height: 760px) { 
    .my-ejs-body {
      margin-top: 150px;
    }

    .footer {
      margin-top: 250px;
      background-color: #FFFACD;
    }
} /* responsive */

/* iPad */
@media only screen and (max-width: 1024px) {
    .my-ejs-body {
      margin-top: 338px;
    }

    .footer {
      margin-top: 720px;
      background-color: #FFFACD;
    }
} /* responsive */

/* mobile */
@media only screen and (max-width: 605px) { 
    .my-ejs-body {
      margin-top: 300px;
    }

    .footer {
      margin-top: 720px;
      background-color: #FFFACD;
    }
} /* responsive */