<br>
<a randomColor id="suggestRoom" style="margin-left: 80%" onclick="document.documentElement.scrollTop = 0; document.body.scrollTop = 0;"
  [routerLink]="['', 'room-suggestion']"><b>Rooms you should like</b></a>
<div class="container">
  <h2>{{data.roomComponentName}}</h2>
  <!-- form -->
  <div class="row">
    <div class="toolbar">
      <button id="btn-all-room" (click)="search('all')" class="btn btn-type">All Rooms</button>
      <button id="btn-available" (click)="search('available')" class="btn btn-type">Available</button>
      <button id="btn-type-d" (click)="search('deluxe')" class="btn btn-type">Deluxe</button>
      <button id="btn-type-f" (click)="search('family')" class="btn btn-type">Family</button>
      <button id="btn-type-s" (click)="search('single')" class="btn btn-type">Single</button>
      <button id="btn-type-c" (click)="search('couple')" class="btn btn-type">Couple</button>
      <input id="input-item" (keyup.enter)="searchInput(searchbox.value)" class="space" type="text" placeholder="Search for rooms" #searchbox [(ngModel)]='searchboxvalue' />
      <button id="search-item" (click)="searchInput(searchbox.value)" class="btn search"></button>
    </div>
  </div>
  <h3 [class]="searchselected + '-room'">{{searchselected | capitalize }} Room</h3>
  <div *ngIf="isloading == false">Loading...</div>
  <div class="row">
    <div class="col-sm-6 wowload fadeInUp" *ngFor="let room of rooms_page">
      <div class="rooms">
        <a [href]="getFullImgURL(room.img)" (click)="clickImage(room.name)" [title]="'Room ' + room.name" class="gallery-image" data-gallery><img [src]="getFullImgURL(room.img)" class="img-responsive"></a>
        <div class="info">
          <h3 [class]="room.type + '-room'">Room {{room.name}} - {{room.type}}</h3>
          <p>Size: {{room.size}} sq</p>
          <p>Price: ${{room.price}}</p>
          <p>No.of Adult: {{room.numpeople}}</p>
          <p class="available-room" *ngIf="room.status === 'available'">This room is available</p>
          <p class="booked-room" *ngIf="room.status === 'booked'">This room is booked</p>
          <a onclick="document.documentElement.scrollTop = 0; document.body.scrollTop = 0;" [routerLink]="['/room-details', room.name]"
            class="btn btn-default">Check Details</a>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center">
    <ul class="pagination">
      <li *ngIf="pageclicked > 1"><a class="tr-p" (click)="clickpreviouspage()">«</a></li>
      <li *ngIf="pageclicked <= 1" class="disabled"><a>«</a></li>
      <ng-container *ngFor="let page of pages; let i = index">
        <li *ngIf="i+1 === pageclicked" class="active"><a class="tr-p" (click)="clickpage(i+1)">{{i+1}} <span class="sr-only">(current)</span></a>
        </li>
        <li *ngIf="i+1 != pageclicked">
          <a class="tr-p" (click)="clickpage(i+1)">{{i+1}}</a>
        </li>
      </ng-container>
      <li *ngIf="pageclicked < pages.length"><a class="tr-p" (click)="clicknextpage()">»</a></li>
      <li *ngIf="pageclicked >= pages.length" class="disabled"><a>»</a></li>
    </ul>
  </div>
</div>