<br>
<a randomColor id="suggestRoom" style="margin-left: 80%" onclick="document.documentElement.scrollTop = 0; document.body.scrollTop = 0;" [routerLink]="['', 'room-suggestion']"><b>Rooms you should like</b></a>
<div class="container">
  <div *ngIf="isloading == false">Loading...<div style="margin-top: 500px"></div></div>
  <div *ngIf="isloading == true">
  <h1 class="title">Room {{data.room.name}}</h1>
  <!-- RoomDetails -->
  <div *ngIf="data.room.name !== 'not found'" id="RoomDetails" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="item active"><img [src]="data.room.imgwithURL" class="img-responsive" alt="slide"></div>
      <div class="item  height-full"><img [src]="data.room.imgwithURL2" class="img-responsive" alt="slide"></div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#RoomDetails" role="button" data-slide="prev"><i class="fa fa-angle-left"></i></a>
    <a class="right carousel-control" href="#RoomDetails" role="button" data-slide="next"><i class="fa fa-angle-right"></i></a>
  </div>
  <!-- RoomCarousel-->
  <div *ngIf="data.room.name !== 'not found'" class="room-features spacer">
    <div class="row">
      <div class="col-sm-12 col-md-5">
        <h3>Room Details</h3>
        <p>{{data.room.details}}</p>
        <h4>This room can accommodate up to {{data.room.numpeople}} adult</h4>
        <p class="note"> *Note that: 2 children are counted as 1 adult</p>
        <a *ngIf="data.room.status === 'available' && !clicked_book_now" (click)="booknow()" class="btn btn-default">Book Now</a>
        <a *ngIf="data.room.status === 'booked' && data.user.username !== data.room.booked_by" class="btn btn-booked" onclick="swal({title: 'Sorry!',text: 'This room is booked! Please pick another room!',type: 'error',confirmButtonText: 'OK'})">This room is booked</a>
        <a *ngIf="data.room.status === 'booked' && data.user.username === data.room.booked_by" class="btn btn-booked" (click)="cancelRoom()">You have booked this room. Cancle It?</a>
        <div *ngIf="clicked_book_now && data.room.status === 'available'">
          <h5>Please input date for check in and check out!</h5>
          <div class="form-group">
            <label style="margin-top: 20px">Check in</label>
          </div>
          <div class="form-group">
            <input type="date" #checkin class="form-control">
          </div>
          <div class="form-group">
            <label>Check out</label>
          </div>
          <div class="form-group">
            <input type="date" #checkout class="form-control">
          </div>
          <a (click)="bookroom(checkin.value, checkout.value)" class="btn btn-default">Book Now</a>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 amenitites">
        <h3>Amenities</h3>
        <ul *ngFor="let amenitie of data.room.amenities.split(',')">
          <li>{{amenitie}}</li>
        </ul>
      </div>
      <div class="col-sm-3 col-md-2">
        <div class="size-price">Size<span>{{data.room.size}} sq</span></div>
      </div>
      <div class="col-sm-3 col-md-2">
        <div class="size-price">Price<span>${{data.room.price}}</span></div>
      </div>
    </div>
    <br>
    <h4>Would you please vote for this rooms and write a feedback to us?</h4>
    <form role="form">
      <span class="star-cb-group">
      <input type="radio" id="rating-5" name="rating" (click)="rating(5)"/><label for="rating-5">5</label>
      <input type="radio" id="rating-4" name="rating" (click)="rating(4)"/><label for="rating-4">4</label>
      <input type="radio" id="rating-3" name="rating" (click)="rating(3)" checked="checked"/><label for="rating-3">3</label>
      <input type="radio" id="rating-2" name="rating" (click)="rating(2)" /><label for="rating-2">2</label>
      <input type="radio" id="rating-1" name="rating" (click)="rating(1)"/><label for="rating-1">1</label>
      <!--<input type="radio" id="rating-0" name="rating" value="0" #r0 class="star-cb-clear" /><label for="rating-0">0</label>-->
    </span>
      <script>
        var logID = 'log',
          log = $('<div id="' + logID + '"></div>');
        $('body').append(log);
        $('[type*="radio"]').change(function () {
          var me = $(this);
          log.html(me.attr('value'));
        });
      </script>
      <div class="form-group">
        <textarea type="text" class="form-control" placeholder="Message" #mes rows="4"></textarea>
      </div>

      <button type="submit" (click)="sendroomfeedback(mes.value)" class="btn btn-default">Send</button>
    </form>

    <div class="col-sm-8">
      <div id="information" class="my-spacer" *ngFor="let activity of list_activity">
        <i>{{activity.created_at | convertdate}}</i>
        <br>User: <b style="color: #FF4500">{{activity.username}}</b>
        <br>Feedback: <b style="color: blue">{{activity.content}}</b>
        <br>Rating: <b *ngFor="let i of activity.note.substring(21, 22)|toarray">★</b>
      </div>
    </div>
    <div class="col-sm-4" style="border-style: groove">
      <div id="information" class="my-spacer">
        Total Star: {{data.room.star}} (<b>★</b>)
        <br>Time of Rating: {{data.room.numvote}} (time)
        <br>Average Rating: {{data.room.average_star | decimal}} (<b>★</b>)
        <br><br><br>
      </div>
    </div>
  </div>
</div>
<!-- reservation-information -->
<div class="container">
  <div id="information" class="spacer reserve-info ">
    <div class="container">
      <h3 class="reservation-form">You can fill out the reservation form below to book consistent rooms!</h3>
      <div class="row">
        <div class="col-sm-7 col-md-8">
          <div class="embed-responsive embed-responsive-16by9 wowload fadeInLeft">
            <iframe class="embed-responsive-item" src="images/photos/hotel-booking.png" width="100%" height="400" frameborder="0" webkitallowfullscreen
              mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
        <reservation></reservation>
      </div>
    </div>
  </div>
</div>
</div>
<!-- reservation-information -->