<br>
<a randomColor id="suggestRoom" style="margin-left: 80%" onclick="document.documentElement.scrollTop = 0; document.body.scrollTop = 0;" [routerLink]="['', 'room-suggestion']"><b>Rooms you should like</b></a>
<div class="container">
    <div class="carousel-inner">
        <br>
        <h3>Top Rooms</h3>
        <div *ngIf="isloading == false">Loading...<div style="margin-top: 500px"></div></div>
        <table *ngIf="isloading == true" class="rooms" border="1" id="top-room-table">
            <tr>
                <th class="tr-p" onclick="sortNum(0,'top-room-table')">No.</th>
                <th class="tr-p" onclick="sortAlpha(1,'top-room-table')">Room</th>
                <th class="tr-p" onclick="sortAlpha(2,'top-room-table')">Type</th>
                <th class="tr-p" onclick="sortNum(3,'top-room-table')">Size</th>
                <th class="tr-p" onclick="sortNum(4,'top-room-table')">Price</th>
                <th class="tr-p" onclick="sortNum(5,'top-room-table')">Total Star</th>
                <th class="tr-p" onclick="sortNum(6,'top-room-table')">No. of Vote</th>
                <th class="tr-p" onclick="sortNum(7,'top-room-table')">Average Star</th>
                <th>Image</th>
                <th>View Details</th>
            </tr>
            <tr *ngFor="let room of listrooms | orderby : 'average_star'; let i=index">
                <td>{{i+1}}</td>
                <td>Room {{room.name}}</td>
                <td [class]="getClassForRoomType(room.type)"><b>{{room.type | capitalize}}</b></td>
                <td>{{room.size}}</td>
                <td>{{room.price}}</td>
                <td>{{room.star}}</td>
                <td>{{room.numvote}}</td>
                <td>{{room.average_star | decimal}}</td>
                <td align="center"><a [href]="room.imgwithURL" (click)="clickImage(room.name)" [title]="'Room ' + room.name" class="gallery-image" data-gallery><img [src]="room.imgwithURL" width="150" height="85"></a></td>
                <td><a class="tr-p" onclick="document.documentElement.scrollTop = 0; document.body.scrollTop = 0;" [routerLink]="['/room-details', room.name]" >View content</a></td>
            </tr>
        </table>
    </div>
</div>