

h3 {
    color: #CC0033;
    font-weight: bold;
}


table.activity {
    font-family: "Times New Roman", Times, serif;
    border-collapse: collapse;
    width: 100%;
}

table.activity th, td {
    text-align: center;
    padding: 8px;
}

table.activity tr:nth-child(even){
    background-color: #FFEDCA
}

table.activity tr:nth-child(odd){
    background-color: #FFFFFF
}

table.activity th {
    background-color: #CC0033;
    color: #FFFFFF;
}

table.activity tbody>tr:hover>th{
    background-color:#CC0033;
    color: #000000;
}

table.activity tbody>tr:hover{
    background-color:#CC0033;
    color: #FFFFFF;
}